<div class="row">
  <div class="span12">
    <%= render 'header' %>
  </div>
</div>
<div class="row">
  <div class="span2">
  </div>
  <div class="span8">
    <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Archive", archive_path %></li>
            <li><%= link_to "RSS", "posts.rss" %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div id="main">
      <% if @posts.any? %>
        <div class="posts">
          <%= render @posts %>
        </div>
        <div id="pagination-wrapper">
          <%= will_paginate @posts, page_links: false, container: false %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span2">
  </div>
</div>

