<div class="main">
  <div class="posts">
    <div id="post_wrapper">
      <div id="title_and_content">
        <div id="title"><%= link_to @post.title, @post%>
        </div>
        <div id="content">
          <%= raw(@post.content) %>
        </div>
        <div id="post_meta">
          <i class="icon-time"></i>
          Posted: <%= @post.created_at.strftime("%d %B %Y") %>
        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'dankoslowsblog'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <div id="about" class="well">
          <%= render partial: "pages/about" %>
        </div>
        <div class="post_actions_admin_buttons">
        <% if signed_in? %>
          <%= link_to "Edit post", edit_post_path(params[:post]),class: "btn btn-large btn-primary" %>
          <%= link_to  "Delete post", @post, method: :delete, 
                        data: { confirm: "Are you sure?" },
                        class: "btn btn-large btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>